
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DC0F20
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header{
	padding:5cm;
	color:black;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color:orange;
}

.button{
	text-align:center;
	
}



.w2-container{
    position: absolute; left-side: 610px10px; top: 80px; height: 400px; width: 100px; padding: 1em;
}


div1{

width:60px;
height:60px;
align:right;
padding:10cm;

}



